body{
    background-color: #6D2E46;
}
header{
    background-color: #6D2E46;
    display: flex;
    justify-content: center;
}
#pic-bio{
    display: flex;
    flex-wrap: wrap;
}

#mobile-banner{
    display: none;
}

nav{
    background-color: #6D2E46;
}
.nav-item{
    color: #6D2E46;
    font-family: Dosis, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
.nav-link{
    color: #a26769;
}
/* unvisited link */
a:link {
    color: #a26769;
}
/* visited link */
a:visited {
    color: #D5B9B2;
}
/* mouse over link */
a:hover {
    color: #D5B9B2;
}
/* selected link */
a:active {
    color:  #D5B9B2;
}
h3{
    display: flex;
    justify-items: center;
    font-family: Dosis;
    color: #6D2E46;
}

#about-me{
    font-family: Dosis;
    font-size: 20px;
    color: #D5B9B2;
    margin: auto;

}
#headshot{
    border-color: #D5B9B2;
    border-radius: 50px;
    margin-left: 200px;
}

#pizza{
    color: #6D2E46;
}

#coffee{
    color: #6D2E46;
}

#weather{
    color: #6D2E46;
}

.carousel-inner{
    display: flex;
    justify-content: center;
}


/* TABLET MEDIA */



/* MOBILE MEDIA */
@media screen and (max-width:500px) {

    body{
        background-color: #CEBEBE;
    }
    #mobile-banner{
        display: flex;
    }
    header{
        background-color: #CEBEBE;
        display: flex;
        justify-content: center;
    }
    nav{
        background-color: #a26769;
    }
    .nav-item{
        color: #6D2E46;
        font-family: Dosis, sans-serif;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .nav-link{
        color: #6D2E46;
    }
    a{
        color:#6D2E46;
    }
    /* unvisited link */
    a:link {
        color: #6D2E46;
    }
    /* visited link */
    a:visited {
        color: #6D2E46;
    }
    /* mouse over link */
    a:hover {
        color: #6D2E46;
    }
    /* selected link */
    a:active {
        color: #6D2E46;
    }

    h3{
        display: flex;
        justify-items: center;
        font-family: Dosis;
        color: #6D2E46;
    }
    #headshot{
        border-color: #D5B9B2;
        border-radius: 5px;
        margin: auto;
    }
    #about-me{
        font-family: Dosis;
        font-size: 18px;
        color: #6D2E46;
        margin: auto;
    }
}